body {
    background-color: gray;
    color: white;
    text-align: center;
}
button {
    vertical-align: top;
    font-size: 1em;
    font-weight: bold;
}
.container {
    position: relative;
}
.topright {
    position:absolute;
    top:0;
    right:0;
}